// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~element-ui/lib/theme-chalk/index.css';

@font-face {
  font-family: "MyriadMM";
  src: url("fonts/MyriadMM.ttf");
}

.el-form-item__label {
  font-weight: bold;
}

.el-dialog__header, .el-dialog__footer {
  background-color: #324057;
  padding: 15px;
}

.el-dialog__title {
  color: #fff;
}

.el-icon-more {
  transform: rotate(90deg);
}

.form-right {
    text-align: right;
}

h4 {
    color: #275885;
    margin-top: 10px;
}

.table {
  color: #606266;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  vertical-align: middle;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.el-form-item__error {
  padding-top: 0;
}
